{% extends 'base.html' %}

{% block content %}
    {% if title %}
        <h1 style="color: blue">{{title}}</h1>
    {% else %}
        <h1>Головна сторінка</h1>
    {% endif %}
    <h1>{{current_user.username}}</h1>
    {% for post in posts %}
    <div class="car-container">
      <img class="car-image" src={{post.img_path}} alt="oops, we lost this img">
      <div class="car-details">
        <p><strong>{{post.name}}</strong>
        <p>{{post.text}}</p>
      </div>
    </div>
    {% endfor %}
{% endblock %}